@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family:"Publico";
  src:url(/PublicoText-Roman-Web.bc4fcb6.woff2) format("woff2");
  font-display:swap
}
@font-face{
  font-family:"Publico";
  src:url(/PublicoText-Bold-Web.87a4778.woff2) format("woff2");
  font-display:swap;
  font-weight:700}

  html{
    font-family:"Publico","Times New Roman",-apple-system,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue;
  }

.apexcharts-tooltip {
    background: #f3f3f3;
    color: black;
  }

  .apexcharts-toolbar {
    max-width: 100%;
    right: 0px !important;
    padding-right: 2.5rem !important;
}

.apexcharts-toolbar-custom-icon {
  width: auto !important;
}

.apexcharts-xaxistooltip {
  display: none;
}

 .dark .apexcharts-tooltip {
    background: #2d3748;
    color: white;
  }

  .dark .apexcharts-tooltip-title {
    background: #2d3748 !important;
    color: white;
  }
